.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #76a1fd;
  width: 100%;
  height: 4em;
}
.mediaContainer {
	display: flex;
  gap: 2em;
}
.socialMedia {
	width: auto;
	height: 2em;
  transition: .2s ease-in-out;
}

.socialMedia:hover {
  height: 2.1em;
  rotate: 8deg;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}