.listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 14em);
  gap: 2em;
  padding: 0 2em;
  justify-content: center;
  margin: 1em 0;
}

@media (max-width: 560px) {
  .listContainer {
    grid-template-columns: 100%;
  }
}